@media only screen and (max-width: 768px){
    .navbar-mobile{
        display: flex;
        align-items: center;
    }
    #div-header nav a{
        display: none;
    }
    .burger{
        width: 30px;
        border-radius: 10px;
        box-shadow: #fff 0px .5px 20px, #fff 0px 5px 20px, #fff 0px 4px 6px, #fff 0px 5px 13px, #fff 0px -3px 5px;
    }
}