@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

::-webkit-scrollbar{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-left: 15%;
    padding-right: 10%;
    margin-bottom: 13%;
}

header h2{
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
}

#div-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#div-header a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}

#div-header a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(132, 14, 201);
    transition: .5s ease;
}

#div-header a:hover::after{
    width: 100%;
}

.mobile-menu-icon{
    display: none;
}

.icon{
    width: 30px;
    height: 30px;
}

.menu-mobile{
    display: none;
}

.open{
    display: block;
}

#section-apresentação{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
}

#div-apre{
    padding-top: 15%;
}

#div-apre h3{
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    font-size: 13px;
}

#div-apre h1{
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
    font-size: 30px;
}

#div-apre span{
    position: relative;
    font-family: "JetBrains Mono", monospace;
}

.span-efect::before{
    content: "";
    color:  #fff;
    animation: palavras 20s infinite;
}

.span-efect::after{
    position: absolute;
    height: 100%;
    content: "";
    border-left: 2px solid #fff;
    right: -3px;
    opacity: 1;
    animation: cursor .8s infinite, digitar 20s steps(15) infinite;
    width: 105%;
    background-color: #000;
}

@keyframes palavras{
    0%,20%{
        content: "I'm Felipe Lucas...";
    }
    21%, 40%{
        content: "I'm Web developer...";
    }
}

@keyframes cursor{
    0%{
        border-left: 2px solid #000;
    }
}

@keyframes digitar{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: 105%;
    }
}

#div-apre p{
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-size: 15px;
}

div.div-img{
    display: flex;    
    margin-top: 1rem;
}

.div-img img{
    width: 30px;
    height: 30px;
}

#section-main{
    display: flex;
    width: 100%;
    height: 76vw;
    background-color: #000000;
    margin-top: 12rem;
    justify-content: center;
    align-items: center;
}

#div-main1{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

#div-main1 h3{
    font-family: "JetBrains", monospace;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 3rem;
}

#div-main1 img{
    width: 500px;
    height: 550px;
    margin-right: 2rem;
    object-fit: cover;
    box-shadow: #fff 0px .5px 20px, #fff 0px 5px 20px, #fff 0px 4px 6px, #fff 0px 5px 13px, #fff 0px -3px 5px;
    border-radius: 5px;
}

#section-main button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(132, 14, 201, 0.555);
    border: none;
    font-family: "JetBrains", monospace;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

#section-main button:hover{
    transition: 1s;
    background-color: #fff;
    color: #000;
}

#div-main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div-main2 p{
    font-size: 15px;
    margin-bottom: 2rem;
}

#div-footer{
    display: flex;
    position: fixed;
    outline: none;
    bottom: 2rem;
    right: 1rem;
    width: 50px;
    height: 50px;
}

#div-footer button{
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

#div-footer img{
    width: 40px;
    height: 40px;
}

#div-footer button.active{
    opacity: 1;
    visibility: visible;
}